@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>If you want to add a book, <a href="/Search">Search for it</a></p>

    <p>For admin users click here : <a href="/Users">Users</a></p>

    <p>For admin Books click here : <a href="/Books">Books</a></p>

    <p>For admin loans click here : <a href="/Loans">Loans</a></p>
</div>
